################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/project
/data/models
/project/x64/Debug
/x64/Debug
/imgui.ini
/.vs/CopilotSnapshots/9E1CCA143B20CD419ACBD081DCC2F80E
