################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/project
/data/models
/project/x64/Debug
/x64/Debug
